#locatedTweets {
    .tweet-container{
      width: 100%;
    }
  }

%styled-container {
  @include clearfix;
  background-color: $white;
  border: $base-border;
  border-radius: $base-border-radius;
  border-top: 4px solid $blue;
  margin: $small-spacing/2 0;
  padding: $small-spacing;
  position: relative;
}
.tweet-container {
  @extend %styled-container;
  padding-right: 2em;

  .profile-image {
    border-radius: 50%;
    border: 2px solid $light-gray;
    float: left;
    margin-right: $small-spacing;
  }
  .user-name {
    font-size: em(15);
    font-weight: bold;
  }
  .heart {
    color: $light-gray;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
    &-favorited {
      color: $red;
    }
  }
  .date {
    color: $medium-gray;
    font-size: em(14);
    margin-left: $small-spacing;
  }
}

.saved-location-inner-container {
  @extend %styled-container;
  border-top-color: $red;
  font-size: .9em;
}

.location-output {
  @include clearfix;
  position: relative;
}
