#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button {
  &-small {
    padding: 0.5em $small-spacing;
    font-size: .9em;
  }
  &-unstyled {
    background-color: transparent;
    padding: 0;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  &-clear-icon {
    color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    &:hover,
    &:focus {
      color: $medium-gray;
    }
  }
}
